dist/*
build/*
src/lectureplayer

/matches
/deploy/lib
/deploy/bin
*.rms
*.bc17
/build/
/bin/
*.conf
.DS_Store
*.log
*.swp
*.pyc
.gradle
/client/
*.jar
*.iml
*.ipr
*.iws
/.idea/

gradle.properties
version.txt


# User-specific stuff:
battlecode-scaffold.iws

# Eclipse user-specific files
.classpath
.project
.settings/

access.txt

# User-specific stuff
venv/
.vscode/
